.bili-video-card {
  position: relative;
  :global {
    .bili-video-card__stats--item {
      margin-right: 8px;
      align-items: center;
    }
  }
}

// video-card 内部 z-index
:export {
  z-index-watchlater-progress-bar: 2;
  z-index-preview-image-wrapper: 3;
  z-index-multi-select: 4;
  z-index-actions: 5;
}
