@use '../../common/css-vars' as *;

.video-grid {
  display: grid;
  position: relative;
  width: 100%;
  grid-gap: 20px 12px;
  grid-template-columns: repeat(var(--col), minmax(0, 1fr));
  #{$app-video-card-border-radius-id}: 15px;
}

//
// 中间留空
//
// 4: 2 3
// 5: 3 3
// 6: 3 4
.video-grid-center-empty {
  &::before {
    content: '';
    grid-column: 3 / -3;
    grid-row: 1 / span 9999;
    grid-auto-flow: dense;
  }
}

/**
 * bili-feed4
 * 取自 .battle-feed-area .battle-feed-body
 */
.video-grid-bili-feed4 {
  // grid-gap: 60px 20px; // original
  grid-gap: 20px 20px;
  :global {
    .ant-divider-horizontal.ant-divider-with-text {
      margin-bottom: -15px;
      margin-top: -15px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

@media (width < 1400px) {
  .video-grid-bili-feed4 {
    --col: 4;
  }
}
@media (width >= 1400px) {
  .video-grid-bili-feed4 {
    --col: 5;
  }
}

/**
 * @container 容器
 */
.video-grid-container {
  container-type: inline-size;
  &.virtual-grid-enabled {
    :global {
      .virtuoso-grid-item {
        padding-bottom: var(--row-gap);
        .bili-video-card {
          margin-bottom: 0;
          height: 100%;
        }
      }
    }
  }
}

$col-gap: clamp(10px, 1cqw, 20px); // prevVersion: $col-gap: 20px;
$row-gap: clamp(20px, 1.4vw, 40px);

.video-grid-custom {
  // gap
  column-gap: $col-gap;
  row-gap: 0;
  --row-gap: #{$row-gap};

  --col: 4; // default col count
  &.using-card-min-width {
    --card-min-width: 330px;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  }

  :global {
    .bili-video-card {
      margin-bottom: var(--row-gap);
    }

    .ant-divider-horizontal.ant-divider-with-text {
      margin-top: calc(10px - var(--row-gap));
      margin-bottom: 5px;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

// $card-base-width: 330px;
// @for $i from 5 through 7 {
//   @container (width >= #{$card-base-width * $i + $col-gap * ($i - 1)}) {
//     .video-grid.video-grid-custom {
//       --col: #{$i};
//     }
//   }
// }

/**
 * 双列模式
 */
.narrow-mode {
  --col: 2 !important;
}
