@use 'sass:meta';
@use 'css-vars' as *;

:root {
  #{$app-custom-font-id}: #{meta.inspect($app-custom-font-value)};
}

// colors
:root {
  #{$app-border-color-id}: oklch(from var($app-bg-id) calc(l - 0.05) c h); // #fff -> #eee
  #{$app-bg-lv1-id}: oklch(from var($app-bg-id) calc(l - 0.04) c h);
  #{$app-bg-lv2-id}: oklch(from var($app-bg-id) calc(l - 0.08) c h);
  #{$app-bg-lv3-id}: oklch(from var($app-bg-id) calc(l - 0.12) c h);

  &.#{$app-cls-dark} {
    #{$app-border-color-id}: oklch(from var($app-bg-id) calc(l + 0.07) c h); // #222 -> #333
    #{$app-bg-lv1-id}: oklch(from var($app-bg-id) calc(l + 0.03) c h);
    #{$app-bg-lv2-id}: oklch(from var($app-bg-id) calc(l + 0.08) c h);
    #{$app-bg-lv3-id}: oklch(from var($app-bg-id) calc(l + 0.12) c h);
  }
}

// z-index
:root {
  --#{$app-name}--z-rec-header: #{$z-index-rec-header};
  --#{$app-name}--z-base-modal: #{$z-index-base-modal};
  --#{$app-name}--z-antd-popup-base: #{$z-index-antd-popup-base};
  --#{$app-name}--z-video-card-large-preview: #{$z-index-video-card-large-preview};
  --#{$app-name}--z-video-card-context-menu: #{$z-index-video-card-context-menu};
  --#{$app-name}--z-toast: #{$z-index-toast};
}

.#{$app-cls-root} {
  font-family: $app-using-font;
  font-size: 14px;
  --back-top-right: 24px;

  button,
  dd,
  dl,
  ol,
  ul {
    font-size: inherit;
  }
  li {
    list-style: unset;
  }

  .bili-video-card {
    .bili-video-card__info--tit:hover, // fix https://github.com/magicdawn/Bilibili-Gate/issues/168
    a:not(.disable-hover):hover {
      color: var($app-primary-color-id) !important;
    }
  }

  .ant-btn {
    font-size: 13px;
  }
}

@media (max-width: 1440px) {
  .#{$app-cls-root} {
    --back-top-right: 16px;
  }
}

// fix ant-tooltip a style
body .ant-tooltip a {
  color: #1677ff;
  transition: color 0.3s;

  &:visited {
    color: #1677ff;
  }
  &:hover {
    color: #69b1ff;
  }
  &:active {
    color: #0958d9;
  }
}

body button:where(.ant-switch) {
  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.25);
    outline: unset;
  }
}

/**
B站自带 css, 影响了 solid button :focus 样式
body button:focus, body button:active {
  background-color: transparent;
  outline: none;
}
 */
body .ant-btn.ant-btn-variant-solid {
  &:focus,
  &:active {
    color: var(--ant-button-primary-color);
    background: var(--ant-color-primary);
  }
}
